<!--<a style="cursor: pointer;" (click)="goBack()">Back</a>-->
<!--<br />-->
<h2 class="page-header">Edit Listing</h2>
<form [formGroup]="form">
  <div class="form-group">
    <label>Title</label>
    <input formControlName="title" class="form-control" type="text" name="title">
  </div>
  <div class="form-group">
    <label>City</label>
    <input formControlName="city" class="form-control" type="text" name="city">
  </div>
  <div class="form-group">
    <label>Owner</label>
    <input formControlName="owner" class="form-control" type="text" name="owner">
  </div>
  <div class="form-group">
    <label>Bedrooms</label>
    <input formControlName="bedrooms" class="form-control" type="text" name="bedrooms">
  </div>
  <div class="form-group">
    <label>Type</label>
    <select formControlName="type" class="form-control" type="text" name="type">
      <option value="Estate">Estate</option>
      <option value="Condo">Condo</option>
      <option value="Apartment">Apartment</option>
    </select>
  </div>
  <div class="form-group">
    <input type="hidden" formControlName="image" name="image" class="form-control" id="image"/>
    <input #selectedIMG type="file" (change)="onChangeFileUpload(selectedIMG)" name="image2" class="form-control" id="image2">
  </div>
  <div class="form-group">
    <label>Price</label>
    <input formControlName="price" class="form-control" type="text" name="price">
  </div>
<button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!form.valid">Submit</button>

</form>